:root {
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#contextBlock {
    background: cadetblue;
    width: 90vw;
    height: 90vh;
    margin: 5vh 0 0 5vw;
}

.js-context-menu {
    position: absolute;
    top: 0;
    left: 0;
}

.js-context-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    background: #e9e9e9;
    width: 150px;
    border: 1px #d9d9d9 solid;
    box-shadow: 0px 0px 4px #00000030;
}

.js-context-menu li {
    margin: 0;
    padding: 0;
    position: relative;
}


.js-context-menu > ul {
    display: block;
}

.js-context-menu a {
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    color: #000;
    background: #f9f6e7
}

.js-context-menu a:hover {
    background: #fdea8b;
}


.js-context-menu li:has(ul) > a::after {
    content: '';
    display: block;
    position: absolute;
    right: 5px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 12px solid black;
    border-bottom: 6px solid transparent;
}


.js-context-menu li:hover:has(ul) > a::after {
    border-top: 7px solid transparent;
    border-left: 12px solid red;
    border-bottom: 6px solid transparent;
}


.js-context-menu li:hover > ul {
    display: block;
    position: absolute;
    top: 0px;
    left: 148px;
}

.js-context-menu > ul {
    z-index: 100;
}
.js-context-menu > ul > li > ul {
    z-index: 200;
}
.js-context-menu > ul > li > ul > li > ul {
    z-index: 300;
}
.js-context-menu > ul > li > ul > li > ul > li > ul {
    z-index: 400;
}
.js-context-menu > ul > li > ul > li > ul > li > ul > li > ul{
    z-index: 500;
}
.js-context-menu > ul > li > ul > li > ul > li > ul > li > ul > li > ul{
    z-index: 600;
}
.js-context-menu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul{
    z-index: 700;
}